@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin:0;
  background:#303030;
  color:white;
  padding-top:70px;
}

.title {
  text-align:center;
  margin-top:50px;
}

.title-sub {
  text-align : center
}

.navbar {
  position:fixed;
  background:white;
  padding:20px;
  width:100%;
  top:0;
  left:0;
  right:0;
}

.navbar a {
  color:black;
  text-decoration:none;
}

.navbar ul {
  list-style:none;
  margin-left:40px;
}

.navbar li {
  float: left;
  margin-right:20px;
}

.container {
  padding:10px;
}

li.threeList {
  /* list-style: none; */
  padding: 5px 0px 5px 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #efefef;
  font-size:12 px;
}